.save-endpoint-wrapper {
  width: 97%;
  flex: none;

  .form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;

    .text-input {
      height: 35px;
      padding: 0 5px;
      width: 80%;
      max-width: 350px;
      border: solid 2px #a9a9a9;
      border-radius: 0.5rem;
      background-color: #fff;

      &.invalid,
      &.invalid:focus {
        border: solid 2px #a11818;
      }
    }

    .save-icon {
      background-image: url('./checked.svg');
      background-size: 1.5rem;
      background-repeat: no-repeat;
    }

    .edit-icon {
      background-image: url('./edit.svg');
      background-size: 1.5rem;
      background-repeat: no-repeat;
    }
  }
}
