// main colors
$activeLinkColor: #00538a;
$baseLinkColor: #003354;
$hoverLinkColor: #00538a;

// font bg colors
$whiteBgFontColor: #fff;
$errorColor: rgb(145, 30, 30);
$blackBgFontColor: #001522;
$mainBgFontColor: #003354;
$darkGreyFontColor: #636975;
$lightGreyColor: #b9b5bb;
$darkBlueColor: #001522;
$lightBlueColor: #7186ad;


img,
.switch-vars span {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn {
  height: 35px;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: $activeLinkColor;
  color: $whiteBgFontColor;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background-color: $hoverLinkColor;
  }

  &.disabled,
  &.disabled:hover {
    background-color: $lightGreyColor;
    cursor: default;
  }
}

a {
  font-weight: 500;
  color: $baseLinkColor;
  text-decoration: inherit;

  &.menu-link {
    color: $whiteBgFontColor;
  }

  &:hover,
  &.active-link:hover {
    color: $hoverLinkColor;
  }

  &.active-link {
    color: $activeLinkColor;
  }
}
