.footer-wrapper {
  width: 100vw;
  min-height: fit-content;
  padding: 0 5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1280px) {
  .footer-wrapper {
    padding: 0;
    margin-bottom: 0.5rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 1;
  gap: 1rem;
  padding: 0 2rem;
  font-size: 1.25rem;
  min-height: 3rem;
}

.copyright {
  display: inline;
  font-size: 1.25rem;
  font-weight: 600;
  color: $baseLinkColor;
}

.copyright::before {
  content: '© ';
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 520px) {
  .link-wrapper {
    flex-direction: column;
    gap: 0px;
    font-size: 0.75rem;
  }
}

.copyright-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 1rem;
}

@media screen and (max-width: 520px) {
  .copyright-link-wrapper,
  .footer-container,
  .copyright {
    font-size: 0.75rem;
  }
}
