h1 {
  font-size: 1.8rem;
  line-height: 1.1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $mainBgFontColor;
  background-color: $whiteBgFontColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.cm-scroller::-webkit-scrollbar,
.docs-container::-webkit-scrollbar {
  width: 12px;
  height: 90%;
}

body::-webkit-scrollbar-track,
.cm-scroller::-webkit-scrollbar-track,
.docs-container::-webkit-scrollbar-track {
  background: $whiteBgFontColor;
  z-index: -1;
}

body::-webkit-scrollbar-thumb,
.cm-scroller::-webkit-scrollbar-thumb,
.docs-container::-webkit-scrollbar-thumb {
  background-color: $darkGreyFontColor;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid $whiteBgFontColor;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root,
.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
}

.main-container {
  width: 90vw;
  margin: 20px auto;
}

@media screen and (max-width: 1400px) {
  .main-container {
    width: 1200px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1240px) {
  .main-container {
    width: 94vw;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-container {
    padding: 0 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .main-container {
    flex-direction: column;
  }

  .sector-container {
    width: 90vw;
  }
}
