.error-message {
  display: block;
  font-size: 0.9rem;
  color: $errorColor;
  margin: 0.2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: fit-content;
  width: 450px;
  text-align: center;

    @media screen and (max-width: 450px) {
    width: 100%;
  }



  // @media screen and (max-width: 1440px) {
  //   max-width: 80%;
  // }
  
  // @media screen and (max-width: 1240px) {
  //   .main-container {
  //     padding: 1.5rem 0;
  //     gap: 0.75rem;
  
  //   }
  // }
  
  // @media screen and (max-width: 768px) {
  //   .main-container {
  //     flex-direction: column;
  //     width: 100%;
  //     padding: 1rem 0;
  //     gap: 0.5rem;
  
  //   }
  // }
  
  // @media screen and (max-width: 1920px) {
  //   max-width: 40%;
  // }
  
}
